<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GJFinal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GJFinal.My.MySettings.gjdatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\gjdatabase.sdf;Password=gjpassword;Persist Security Info=True;Encryption Mode=Engine Default"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <GJFinal.My.MySettings>
            <setting name="payrollLastUpdated" serializeAs="String">
                <value>2016-09-01</value>
            </setting>
        </GJFinal.My.MySettings>
    </userSettings>
</configuration>